.AboutBlock-Container {
  background: url("https://htmldemo.net/mimosa/mimosa/img/banner/6.jpg");
  background-position: 50% 50%;
  position: relative;
  height: 400px;
  background-size: cover;
  z-index: 1;
}
