* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20%;
  background-color: rgb(83, 83, 83);
}

::-webkit-scrollbar-track {
  border-radius: 20%;
  background-color: rgb(212, 209, 209);
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    color: unset;
  }
}

p {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

input  {
  border: none;
}
