.Footer-Container {
  margin: 2rem 0rem 3rem;
  @media (max-width: 767px) {
    margin: 2rem 0rem 1rem;
  }
  .Footer-Wrapper {
    text-align: center;
    .Subscribers {
      color: #707070;
      font-size: 16px;
      font-weight: 600;
    }
    .Discount {
      font-size: 2.2rem;
      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }
    .Description {
      color: #585454;
      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    .Subscribe-Input {
      margin-top: 3rem;
      padding-bottom: 3rem;
      @media (max-width: 767px) {
        margin-top: 2rem;
        padding-bottom: 2rem;
      }
      input {
        height: 50px;
        border: 2px solid #ebebeb;
        width: 400px;
        padding-left: 16px;
        color: #9d9d9d;

        @media (max-width: 767px) {
          width: 204px;
          height: 40px;
        }
      }
      button {
        height: 50px;
        border: 2px solid #ebebeb;
        border-left: 0px;
        padding: 0rem 4rem;
        color: #292929;

        @media (max-width: 767px) {
          padding: 0rem 1rem;
          height: 40px;
        }
      }
    }

    .Copy-Rights {
      .Heart {
        color: red;
        padding: 0px 4px;
      }
    }
  }
}
