.Slider-Container {
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    background-size: cover;
    height: 100vh;
    padding-left: 22rem;
  }

  .each-slide-effect {
    span {
      display: flex;
      flex-direction: column;
      gap: 15px;

      p {
        font-size: 2.2rem;
        color: #292929;
      }
    }
  }
}
